{
    "env": {
        "mocha": true,
        "node": true
    },
    "globals": {
        "Ti": true,
        "Titanium": true,
        "Drund": true
    },
    "rules": {
        /*
        * To change a rule setting, you must set the rule ID equal to one of
        * these values:
        * 0 - turn the rule off
        * 1 - turn the rule on as a warning (doesn't affect exit code)
        * 2 - turn the rule on as an error (exit code is 1 when triggered)
        */
        "comma-dangle": 0,
        "no-extra-parens": 1,

        "eqeqeq": 1,
        "guard-for-in": 1,
        "no-alert": 1,
        "no-eq-null": 2,
        "no-eval": 1,
        "no-extra-bind": 1,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 1,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new": 1,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-octal": 1,
        "no-octal-escape": 1,
        "no-param-reassign": 0,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 1,
        "no-self-compare": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 1,
        "no-with": 2,
        "radix": 1,
        "wrap-iife": [2, "any"],

        "strict": [1, "function"],

        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-undef": 2,
        "no-undef-init": 1,
        "no-undefined": 0,
        "no-unused-vars": [2, {"vars": "local", "args": "all"}],
        "no-use-before-define": 1,

        "no-mixed-requires": 0,

        "indent": [2, 4],
        "brace-style": [1, "1tbs", {"allowSingleLine": false}],
        "camelcase": [1, {"properties": "always"}],
        "comma-spacing": [1, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "consistent-this": [1, "self"],
        "eol-last": 0,
        "func-names": 0,
        "func-style": 0,
        "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
        "max-nested-callbacks": [1, 3],
        "new-cap": 0,
        "new-parens": 2,
        "newline-after-var": 0,
        "no-array-constructor": 1,
        "no-inline-comments": 0,
        "no-lonely-if": 1,
        "no-mixed-spaces-and-tabs": 2,
        "no-multiple-empty-lines": 0,
        "no-nested-ternary": 2,
        "no-new-object": 1,
        "no-space-before-semi": 1,
        "no-spaced-func": 2,
        "no-ternary": 0,
        "no-trailing-spaces": 0,
        "no-underscore-dangle": 0,
        "no-wrap-func": 1,
        "one-var": 0,
        "operator-assignment": 0,
        "padded-blocks": [1, "never"],
        "quote-props": 0,
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "semi-spacing": [1, {"before": false, "after": true}],
        "sort-vars": 0,
        "space-after-keywords": [1, "always"],
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": [1, {"anonymous": "always", "named": "never"}],
        "space-in-brackets": [1, "never"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 1,
        "space-return-throw-case": 1,
        "space-unary-ops": 0,
        "spaced-line-comment": 0,
        "wrap-regex": 0
    }
}
